{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true,
    "module": true,
    "require": true,
    "console": true,
    "navigator": true,
    "process": true,
    "URL": true,
    "fetch": true,
    "__dirname": true,
    "resolve": true,
    "Promise": true,
    "localStorage": true,
    "setTimeout": true
  },
  "rules": {
    "react/prop-types": "off",
    "no-console": "off",
    "react/no-unescaped-entities": "off"
  }
}
