@import "~bootstrap/scss/bootstrap";


body {
  background-color:#f5f0f0; 
}

.navbar{
  position: inherit;
}

.dv-size{
  background-color: #ff0000;
}

#manageContent{
  background-color: rgb(204, 197, 197);
}
.dv-header{
  background-color: black;
  height: 50px;  
  div{ 
    color: bisque;
    font-size:1rem; 
    line-height: 3.5; 
    .input-group{
      margin-top: 0.4rem;
    }
    button{
      margin-top: 0.4rem; 
    }
  }
}

.dv-logo{
  height: 30px;
  display: block;
  margin-top: 0.6rem;
}

.dv-content{ 
  background-color: brown;
  height: 800px;
  width: 100%;
}

.dv-user-login{
  background-color: #dddbdb;
  height: 600px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 50px;
  div{ 
    margin-top: 50px; 
    background: cornflowerblue;

    form{   
      margin-left: 10px;
      margin-right: 10px;
      border-style: hidden;
  
    }
    }
}