@import "~bootstrap/scss/bootstrap";


body {
  background-color:#f5f0f0; 
}

.navbar{
  position: inherit;
}

.dv-size{
  background-color: #ff0000;
}

#manageContent{
  background-color: rgb(204, 197, 197);
}
.dv-header{
  background-color: black;
  height: 50px;  
  div{ 
    color: bisque;
    font-size:1rem; 
    line-height: 3.5; 
    .input-group{
      margin-top: 0.4rem;
    }
    button{
      margin-top: 0.4rem; 
    }
  }
}

.dv-logo{
  height: 30px;
  display: block;
  margin-top: 0.6rem;
}

.dv-content{ 
  background-color: brown;
  height: 800px;
  width: 100%;
}

.dv-user-login{
  background-color: #dddbdb;
  height: 600px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 50px;
  div{ 
    margin-top: 50px; 
    background: cornflowerblue;

    form{   
      margin-left: 10px;
      margin-right: 10px;
      border-style: hidden;
  
    }
    }
}


.react-bs-table-tool-bar{
  background-color: cornflowerblue;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
 
 

.dv-td-text-longer{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  max-width: 120px;
  display: block;
}

.dv-modal-dialog{
  position: absolute;
  top: 100px;
  width:700px; 
  left: 20%; 
  border-radius: 5px; 
}

.table th,.table td{
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  padding-left: 0.05rem; 
}

.dv-words-table{
  height:800px;background-color: snow;padding-left: 0;padding-right: 0;padding-top: 0px;
}
.dv-words-table-up{
  margin-bottom: 5px;
  margin-top: 10px;
}

.btn-toolbar{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 25px;
}

.modal-header{
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-footer{
  padding-top: 5px;
  padding-bottom: 5px; 
}

.modal-body{
  padding-top:0px;
}

.nav-link{
  padding-top: 0px;
  padding-bottom: 0px;
}

label{
  margin-top: 5px;
  margin-bottom: 0px;
}
.dv-table-hist{  
  max-height: 200px;
  overflow-y: auto;
  font-size: 12px;
}


.dv-words-table-title{
  margin-top: 10px;
  margin-bottom: 5px;
  div{
    div{
    .form-control{
      width: 20px;
    }
  }
  }
} 



.scroll_table_content{
  width:100%; 
  height:600px;
  overflow:auto;
}
.dv-table-scoll-wrap{
  max-height: 760px;
  overflow-y: auto;
}