@import "~bootstrap/scss/bootstrap";
@each $color,
$value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
  }
}

$colors: ( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800) !default;
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .text#{$infix}-left {
      text-align: left !important;
    }
    .text#{$infix}-right {
      text-align: right !important;
    }
    .text#{$infix}-center {
      text-align: center !important;
    }
  }
}

body {
  background-color: #f5f0f0;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -15px;
}

.navbar {
  position: inherit;
}

.dv-size {
  background-color: #ff0000;
}

#manageContent {
  background-color: rgb(204, 197, 197);
}

.dv-header {
  height: 50px;
  div {
    color: bisque;
    font-size: 1rem;
    line-height: 3.5;
    .input-group {
      margin-top: 0.5rem;
    }
    button {
      margin-top: 0.7rem;
      font-size: 0.7rem;
    }
  }
}

.dv-header-text {
  margin-top: 15px;
}

.dv-logo {
  height: 35px;
  display: block;
  margin-top: 0.5rem;
}

.dv-content {
  background-color: brown;
  height: 800px;
  width: 100%;
}

.dv-border-rl2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.dv-border-top30 {
  margin-top: 1rem;
  border-top-style: solid;
  border-top-color: grey;
  margin-left: 2rem;
  margin-right: 2rem;
}

.react-bs-table-tool-bar {
  background-color: cornflowerblue;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dv-td-text-longer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 120px;
  display: block;
}

.dv-modal-dialog {
  position: absolute;
  top: 100px;
  left: 20%;
  border-radius: 5px;
}

.table th,
.table td {
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  padding-left: 0.05rem;
  white-space: nowrap;
}

.dv-mr10 {
  margin-right: 10px;
}

.dv-words-table {
  height: 800px;
  background-color: snow;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
}

.dv-words-table-up {
  margin-bottom: 5px;
  margin-top: 10px;
}

.btn-toolbar {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 25px;
}

.modal-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-body {
  padding-top: 0px;
}

.nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

label {
  margin-top: 5px;
  margin-bottom: 0px;
}

.dv-table-hist {
  max-height: 200px;
  overflow-y: auto;
  font-size: 12px;
}

.dv-words-table-title {
  margin-top: 10px;
  margin-bottom: 5px;
  div {
    div {
      .form-control {
        width: 20px;
      }
    }
  }
}

.scroll_table_content {
  width: 100%;
  height: 600px;
  overflow: auto;
}

.dv-table-scoll-wrap {
  max-height: 760px;
  overflow-y: auto;
}

.dv-tbody {
  height: 100px;
  max-width: 150%;
  overflow-y: auto;
}

.dv-user-info-main {
  // max-height: 1000px;
  height: 600px;
  max-width: 150%;
  overflow: auto; // background-color:white;
  // margin-bottom: 10px;
  // padding-right: 0px;
  // padding-left: 0px;
}

.dv-user-info-nav {
  background-color: black;
}

.dv-border {
  border-block-end-style: dashed;
}

.dv-pt30 {
  padding-top: 30px;
}

.dv-mt5 {
  margin-top: 5px;
}

.dv-m5 {
  margin-left: 5px;
  margin-right: 5px;
}

.dv-mt10 {
  margin-top: 10px;
}

.dv-mt20 {
  margin-top: 20px;
}

.dv-user-info-title {
  background-color: dimgray;
  padding-top: 10px;
}

.dv-bot0 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.center-child {
  justify-content: center; //子元素水平居中
  align-items: center; //子元素垂直居中
  display: -webkit-flex;
}

.dv-login {
  margin-bottom: 5%;
  width: 70%;
  height: 60%;
  background-color: aliceblue;
}

.dv-login-title {
  margin-top: 10px !important;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 5px;
}

.dv-manager {
  background-color: #a29fda;
}

.dv-modal {
  margin-top: 70px;
}

.dv-modal-register {
  margin-top: 30px;
}

.dv-manager-contant {
  background-color: rgb(188, 221, 255);
}

.dv-manager-nav {
  background-color: black;
}

.dv-card-body {
  height: 590px;
}

.dv-tab-content {
  background-color: antiquewhite;
}